*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

/*---------------Шапка-------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479px) {
    .header__container {
        min-height: 75px;
    }
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: inherit;
}

.header__menu {
    margin: 0 0 0 103px;

}

.menu {
    /*----Отступы безопасности----*/
    padding: 5px 0;
}


@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 40px;
    }
}

@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
}

.menu__list {
    display: flex;
    /*--Гибкая обертка,позволяет ломаться элементам---*/
    flex-wrap: wrap;
}

.menu__item {}

.menu__item:not(:last-child) {
    margin-right: 21px;
}

.menu__link {
    color: #737373;
    font-weight: 600;
    /*---Вычисляем % 24/14*100=line-height: 171%;----или---*/
    line-height: calc(24 / 14 *100%);
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
        color: #313131;
    }
}

/*---------------PAGE-------------------------------------*/
.page {
    flex: 1 1 auto;
}

.page__main-block {}

.page__services {
    position: relative;
    z-index: 2;
    margin-top: -111px;
}

.page__advantages {}

.page__practice {}

.page__whoweare {}

.page__clients {
    margin: 0px 0px 10px 0px;
}

.page__subscribe {}

.page__getintouh {}

.page__contact {}

/*---------------HEADER BLOCK-------------------------------------*/
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}

.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    /* or 142% */
}

.header-block__title:not(:last-child) {
    margin-bottom: 10px;
}

.header-block__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #737373;
}

@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .header-block__title {
        font-size: 30px;
    }
}

/*---------------Подвал-------------------------------------*/
.footer {}

/*---------------MAIN-BLOCK-------------------------------------*/
.main-block {
    position: relative;
}

.main-block__container {}

.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}

.main-block__body>*:not(:last-child) {
    margin-bottom: 35px;
}

.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: #737373;
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__text {
        color: #383535;
    }
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    border-radius: 37px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 auto;
    }
}

.main-block__button:not(:last-child) {
    margin-right: 10px;
}

.main-block__button_orange {
    background: #FF7B47;
    color: #FFFFFF;
}

.main-block__button_border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main-block__image {
        opacity: 0.5;
    }
}

/*-------------------page__services--------------------------------*/
.services {}

.services__container {}

.services__body {}

@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
}

.services__column {
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
}

@media (min-width: 670px) {
    .services__column {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }

    .services__column:last-child {
        flex: 0 1 100%;
    }
}

.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #FFFFFF;
    padding: 35px;
}

@media (max-width: 992px) {
    .services__item {
        padding: 25px;
    }
}

.item-services {}

.item-services__green {
    background: #0D5C63;
}

.item-services__green .item-services__text {
    color: #FFFFFF;
}

.item-services__green .item-services__title {
    color: #FFFFFF;
}

.item-services>*:not(:last-child) {
    margin-bottom: 10px;
}

.item-services__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
}

.item-services__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

/*------------------page__advantages--------------------------*/
.advantages {
    padding: 80px 0px;
}

@media (max-width: 992px) {
    .advantages {
        padding: 50px 0px;
    }
}

@media (max-width: 767px) {
    .advantages {
        padding: 30px 0px;
    }
}

.advantages__container {}

.advantages__header {
    margin: 0px 0px 50px 0px;
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}

.advantages__column {
    padding: 0 15px;
    padding-bottom: 30px;
    flex: 0 1 25%;
}

@media (max-width: 1020px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}

.advantages__item {
    background: #FFFFFF;
    text-align: center;
    padding: 30px 40px;
    font-weight: 700;
}

.advantages__item>*:not(:last-child) {
    margin-bottom: 10px;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages__value {
    font-size: 40px;
    line-height: 57px;
    /* identical to box height, or 142% */
    letter-spacing: 0.2px;

}

.advantages__text {
    font-size: 16px;
    line-height: 150%;
    color: #737373;
    letter-spacing: 0.1px;
}

/*-------------page__practice------------------*/
.practice {
    padding: 125px 0px 80px 0px;
}

.practice__container {}



.practice__header {
    margin: 0px 0px 45px 0px;
}

.practice__body {
    margin: 0 -20px -30px;
    display: flex;
    flex-wrap: wrap;
}

.practice__column {
    padding: 0 20px;
    /*padding-bottom: 30px;*/
    flex: 0 1 25%;
    margin: 0px 0px 30px 0px;
}

@media (max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}

.practice__item {}

.practice__item>*:not(:last-child) {
    margin-bottom: 10px;
}

.item-practice {
    display: flex;
    height: 100%;
    background: #FFFFFF;
    flex-direction: column;
}

.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice__link {
    color: inherit;
    display: inline-block;
}

.item-practice__link:hover {
    text-decoration: underline;
}

.item-practice__link:not(:last-child) {
    margin: 0 0 15px 0;
}

.item-practice__title {
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.1px;
    font-weight: 700;
}

.item-practice__text {
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    color: #737373;
}

.item-practice__image {
    display: block;
    padding: 0 0 60% 0;
}

/*-------------------page__whoweare----------------------------*/

.whoweare {
    background: #FFFFFF;
    padding: 80px 0px 130px 0px;
}

.whoweare__container {}

.whoweare__header {
    margin: 0px 0px 100px 0px;
}

.whoweare__body {
    display: flex;
    align-items: flex-start;
    /*align-items: flex-start; Для  отзывчивости видео при уменьшении экрана*/
}

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
    /*----% падинга вычисляем:ширину/высоту видео * 100%-----*/
}

.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
}

.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    /* or 142% */
    letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
    margin: 0 0 10px 0;
}

.whoweare__text {
    line-height: 20px;
    /* or 143% */
    color: #737373;
    letter-spacing: 0.2px;
}

.whoweare__top:not(:last-child) {
    margin: 0 0 50px 0;
}

.whoweare__items {}


.whoweare__item {}

.item-whoweare {
    display: flex;
}

.item-whoweare__icon {
    flex: 0 0 32px;

}

.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0px 0px 30px 20px;
}

.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.1px;
}

.item-whoweare__title:not(:last-child) {
    margin: 0 0 5px 0;
}

.item-whoweare__text {
    font-weight: 600;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.2px;
    color: #737373;
}

@media (max-width: 1080px) {
    .whoweare__content {
        padding: 0px 0px 0px 40px;
    }
}

@media (max-width: 950px) {
    .whoweare__header {
        margin: 0px 0px 30px 0px;
    }

    .whoweare {
        padding: 40px 0px 50px 0px;
    }

    .whoweare__body {
        flex-direction: column;
        align-items: stretch;

    }

    .whoweare__title {
        font-size: 24px;
    }

    .whoweare__content {
        padding: 0px 0px 0px 40px;
    }

    .whoweare__video {
        margin-bottom: 20px;
        padding: 0px 0px 56.25% 0px;
    }

}

@media (max-width: 767px) {
    .whoweare {
        padding: 0px 0px 50px 0px;
    }

    .whoweare__video {
        margin-bottom: 10px;
    }

    .whoweare__top:not(:last-child) {
        margin: 0 0 20px 0;
    }
}

/*---------------------.page__clients-------------------------*/
.clients {
    padding: 50px 0px;
}

@media (max-width: 767px) {
    .clients {
        padding: 30px 0px;
    }
}

.clients____container {}

.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.clients__item {
    padding: 10px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}

.clients__item img {
    max-width: 100%;
}

/*------------------subscribe__form----------------------------*/
.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;
}

.subscribe::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #252B42;
    height: 77px;
    left: 0;
}

.subscribe__container {}

.subscribe__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    background: #17213C;
    border-radius: 2px;
}

.subscribe__title {
    flex: 0 1 50%;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}

.subscribe__input {
    flex: 1 1 auto;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    min-height: 58px;
    padding: 0px 0px 0px 20px;
    color: #737373;
    border-right: 0;
}

.subscribe__input:focus {
    color: #050505;
}

.subscribe__input:hover {
    cursor: text;
}

.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 22px;
}

.subscribe__button:hover {
    cursor: pointer;
}

@media (min-width: 1070px) {
    .subscribe__body {
        margin: 0px 30px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 810px) {
    .subscribe__body {
        display: flex;
    }
}

@media (max-width: 810px) {
    .subscribe__title {
        margin-bottom: 20px;
    }

    .subscribe__body {
        margin: 0 -15px;
        padding: 20px 30px;
    }

    .subscribe__input {
        padding: 0px 15px;
    }

    .subscribe__button {
        padding: 0px 15px;
    }
}

/*------------------page__getintouh---------------------------*/
.getintouh {
    padding: 80px 0px 136px 0px;
}

.getintouh__container {}

.getintouh__header {
    margin: 0px 0px 80px 0px;
}

.getintouh__items {
    margin: 0px -15px;
}

@media (min-width: 992px) {
    .getintouh__items {
        margin: 0;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .getintouh {
        padding: 50px 0px;
    }

    .getintouh__header {
        margin: 0px 0px 50px 0px;
    }
}

@media (max-width: 767px) {
    .getintouh__header {
        margin: 0px 0px 30px 0px;
    }
}


.getintouh__item {
    flex: 0 1 33.333%;
}

.item-getintouh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 50px 15px;
}

.item-getintouh>*:not(:last-child) {
    margin-bottom: 15px;
}


.item-getintouh__icon {}

.item-getintouh__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-getintouh__email {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: inherit;
}

.item-getintouh__email:hover {
    text-decoration: underline;
}

.item-getintouh__label {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;
}

.item-getintouh__button {
    padding: 10px 20px;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FF7B47;
    text-align: center;
    border: 1px solid #FF7B47;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.item-getintouh__button:hover {
    cursor: pointer;
    background-color: #FF7B47;
    color: #FAFAFA;
}

.item-getintouh__active {
    padding: 80px 15px;
    background: #252B42;
    color: #FFFFFF;
}

.item-getintouh__active .item-getintouh__button {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.item-getintouh__active .item-getintouh__button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #252B42;
}

/*-------------------.page__contact--------------------------*/
.contact {
    background: #FFFFFF;
    padding: 42px 0px;
}

.contact__container {}

.contact__content {
    padding: 20px 20px;
}

@media (min-width:767px) {
    .contact__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact__content {
        padding: 0px 20px 0px 0px;
    }
}

.contact__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
}

.contact__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.contact__text {
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

.contact__button {
    display: flex;
    padding: 15px 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-height: 58px;
    background: #FF7B47;
    border-radius: 5px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 200%;
    transition: all 0.3s ease 0s;
}

.contact__button:hover {
    cursor: pointer;
    background-color: #FAFAFA;
    color: #FF7B47;
    border: 1px solid #FF7B47;
}

/*******************************FOOTER************************************/
.footer {}

.footer__top {
    background: #17213C;
    padding: 35px 0px;
}

.footer__main {}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.footer__column {
    padding: 20px 15px;
    flex: 0 1 16.667%;
}

.footer__column:last-child {
    flex: 0 1 33.334%;
}

@media (max-width: 992px) {
    .footer__column {
        flex: 0 1 50%;
    }

    .footer__column:last-child {
        flex: 1 1 100%;
    }
}

.footer__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__menu {}

.menu-footer {}

.menu-footer__list {}

.menu-footer__link {
    color: #FFFFFF;
    display: inline-block;
    line-height: 171%;
    letter-spacing: 0.2px;
}

.menu-footer__link:hover {
    text-decoration: underline;
}

.menu-footer__item {
    font-weight: 500;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.menu-footer__item:not(:last-child) {
    margin-bottom: 10px;
}

.footer__contacts {}


.contacts-footer {
    display: flex;
    flex-direction: column;
}

.contacts-footer__item {
    padding: 0px 0px 0px 34px;
    line-height: 142%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    min-height: 30px;
}

.contacts-footer__item:not(:last-child) {
    margin: 0px 0px 12px 0px;
}

.contacts-footer__item:hover {
    text-decoration: underline;
}

.contacts-footer__item_phone {
    background: url("../img/footer/phone.svg") left no-repeat;
}

.contacts-footer__item_map {
    background: url("../img/footer/map.svg") left no-repeat;
}

.contacts-footer__item_email {
    background: url("../img/footer/email.svg") left no-repeat;
}

.footer__bottom {
    padding: 25px 0px;
}

@media (min-width: 767px) {
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__copy {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}

.social {
    display: flex;
    align-items: center;
}

.footer__social {}

.social__item:not(:last-child) {
    margin-right: 20px;
}